@inherits LayoutComponentBase
@namespace LeganesCustomsBlazor.Components.Layout

<div class="page">
    <header class="nav-header">
        <NavMenu />
    </header>

    <main class="content">
        <article class="px-4">
            @Body
        </article>
    </main>

    <Footer />
</div>

