@page "/"
@namespace LeganesCustomsBlazor.Components
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LeganesCustomsBlazor</title>

    <!-- Estilos base -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link href="_content/Syncfusion.Blazor/styles/bootstrap5.css" rel="stylesheet" />

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="/app.css" />
    <link href="/LeganesCustomsBlazor.styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">

    <!-- Ruta base -->
    <base href="/" />
</head>

<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
    <script src="/_framework/blazor.server.js"></script>
    <script>
        function bootstrapModal(selector) {
            var modal = new bootstrap.Modal(document.querySelector(selector));
            modal.show();
        }
    </script>

    }
</body>
</html>

