@page "/performance"
@rendermode InteractiveServer

<PageTitle>Performance</PageTitle>

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-lg-12">
            <h1>PERFORMANCE</h1>
            <h3> Echa un vistazo a unestros proyectos favoritos!</h3> 
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <!-- Indicadores -->
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                </ol>
                <!-- Carrusel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="https://youtu.be/FNeWqMRL3P8?si=ZnMYAlz2uop-fnFV" target="_blank">
                            <img class="d-block w-100" src="supraV10.jpg" alt="Supra V10">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Supra V10</h1>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="https://youtu.be/vtw4Cq-2LnU?si=QhsJeKYbJjQ0cIuF" target="_blank">
                            <img class="d-block w-100" src="mclarenRotativo.jpg" alt="Mclaren Rotativo">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Mclaren Motor Rotativo</h1>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <a href="https://youtu.be/2fRC16ZxOVA?si=zU9LOJf2fM5tAFY4" target="_blank">
                            <img class="d-block w-100" src="rx7.jpeg" alt="Rx7">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <h1>Rx7 6 rotativos</h1>
                        </div>
                    </div>
                </div>
                <!-- Controles -->
                <a class="carousel-control-prev" data-bs-target="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" data-bs-target="#carouselExampleIndicators" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>
